@charset "utf-8";

#corpo-site{background-color: #242d5e; z-index: -10;}
html {
    scroll-behavior: smooth;
  }
  @font-face {
    font-family: Aileron Heavy;
    src: url(../fonts/aileron-heavy.otf);
  }

i.mudafont{
  font-family: Aileron Heavy;
  font-style: normal;
}
::selection {
  color: #b75100;
  background-color: #fff;
}

.chartdetalhes{
  font-size: 26px;
  text-align: center;
  padding-top: 10px;
}

.main-btn.main-btn-4 {
	background: -webkit-gradient(linear, left top, right top, from(#e80000), color-stop(50%, #fa3737), to(#e80000));
    background: linear-gradient(to right, #e80000 0%, #fa3737 50%, #e80000 100%);
    background-size: 200% auto;
}
.main-btn.main-btn-4:hover {
	background-position: right center
}